.activated-menu span
	margin-top - 52px
	margin-left 20px
	position absolute
	font-family: Colus;
	line-height: normal;
	font-size: 24px;
	text-align: right;
	letter-spacing: 0.1em;
	color: #FFFFFF;

.contact-forms
	margin-left 14.7vw
	margin-top 33vh
	float left
	width 34vw

.form
	height 78px	
	margin-bottom: 40px
	font-family: "SegoeUISemiBold";
	line-height: 32px;
	font-size: 18px;
	letter-spacing: 0.1em;
	color: #FFFFFF;
	input
		height 35px
		border-top none 
		border-left 0
		border-right 0
		border-bottom: 1px solid white
		background-color #183762;
		font-family: "SegoeUISemiBold";
		line-height: 32px;
		font-size: 18px;
		letter-spacing: 0.1em;
		color: rgba(255, 255, 255, 0.1);

.name, .subject
	input
		width 100%

.phone-mail
	width 100%
	display: flex
	justify-content: space-between
	.mail, .phone
		input
			width 15vw

.text-message
	width 100%
	input
		width 100%
		border-top none 
		border-left 0
		border-right 0
		border-bottom: none
		background-color #153158
		font-family: "SegoeUISemiBold";
		line-height: 32px;
		font-size: 18px;
		letter-spacing: 0.1em;
		color: rgba(255, 255, 255, 0.1);
	.text-message_in
		box-sizing: border-box
		padding-bottom: 110px
		padding-top 15px
		padding-left: 20px

.contact-info .tm
	right: 7.5vw
	bottom: 6.5vh
	position: absolute

.submit-button
	left: 14.7vw
	bottom: 6.5vh
	position: absolute
	input
		width: 200px;
		height: 50px;
		background: #153158
		border-radius: 3px;
		border: none;
		font-family: "SegoeUISemiBold";
		line-height: 31px;
		font-size: 16px;
		text-align: center;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: #FFFFFF;
		cursor pointer