.header
	z-index: 9999;
	box-sizing: border-box;
	width: 100%
	@media xlarge
		padding-left: 7.7vw;
		padding-right: 7.7vw;

	@media large
		padding-left: 7vw;
		padding-right: 7vw;

	@media medium
		padding-left: 6.7vw;
		padding-right: 6.7vw;

	@media small
		padding-left: 13vw;
		padding-right: 13vw;


.header-up
	display flex
	justify-content space-between
	align-items center
	position absolute
	top 0
	@media xlarge
		padding-top: 6.5vh;
	@media large
		padding-top: 6vh;
	@media medium
		padding-top: 9.7vh;
	@media small
		padding-top 3vh

.header-up_left
	display flex
	justify-content space-between
	align-items center

.header-down
	display flex
	justify-content space-between
	position absolute
	bottom 0
	@media xlarge
		padding-bottom: 6.5vh
	@media large
		padding-bottom: 6vh
	@media medium
		padding-bottom: 9.7vh
	@media small
		padding-bottom: 3vh

.logo 
	svg
		width: 100%
		height: 100%
		fill: #183762
	@media xlarge
		width 2.6vw
		height 3.5vh
	@media large
		width 2vw
		height 4.1vh	
	@media medium
		width 7.6vw
		height 5.1vh
	@media small
		width 15.6vw
		height 5.1vh
.nav
	@media xlarge
		margin-left 4.6vw
	@media large
		margin-left 4vw

.nav-item
	margin-right 3.6vw
	display: inline;
	font-family: "SegoeUIRegular";
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 0.85vw;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	a
		text-decoration: none;
		color: #0D0D0D;

.soc-lang
	display flex
	align-items center
	font-family: Colus;
	
	ul 
		display: flex;
		flex-direction: column;
		align-items: center;
		
		@media xlarge
			width 26px
		@media large
			width 21px
		@media medium
			width 21px
		@media small
			width 15px
			
	.language,.social
		cursor: pointer;
		@media xlarge
			width 26px
			height 26px
		@media large
			width 21px
			height 21px
		@media medium
			width 21px
			height 21px
		@media small
			width 15px
			height 15px
			
	.language
		svg
			width: 100%
			height: 100%
			fill: #183762
		@media xlarge
			margin-right 43px
		@media large
			margin-right 36px
		@media medium
			margin-right 29px
		@media small
			margin-right 22px
			
	.social
		svg
			width: 100%
			height: 100%
			fill: #183762
		
.lang-list
	color #fff
	position absolute
	li
		padding-top 10px
		
	@media xlarge
		font-size 18px
		top 35px
	@media large
		font-size 16px
		top 35px
	@media medium
		font-size 14px
		top 25px
	@media small
		font-size 10px
		top 15px
		
.social-list
	position absolute
	li
		padding-top 11px
		
	@media xlarge
		top 35px
	@media large
		top 35px
	@media medium
		top 25px
	@media small
		top 15px
	li
		img
			max-width 100%
			max-height auto
		@media xlarge
			width 18px
			height 18px
		@media large
			width 16px
			height 16px
		@media medium
			width 14px
			height 14px
		@media small
			width 10px
			height 10px

.tm
	align-self: flex-end
	font-family: "SegoeUIRegular";
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 0.74vw;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #0D0D0D;


