

.header
	z-index: 9999;
	box-sizing: border-box;
	width: 100%


/*HEADER UP*/
.header-up
	display flex
	justify-content space-between
	align-items center
	position fixed
	background:  #F4F4F4;
	padding-bottom: 10px;

.header-up_left
	display flex
	justify-content space-between
	align-items center

.logo 
	svg
		width: 100%
		height: 100%
		fill: #183762
	@media xl
		width 2.6vw
		height auto
	@media lg
		width 2vw
		height auto
	@media md
		width 5vw
		height auto
	@media sm
		width 7.2vw
		height auto
.nav
	@media xl
		margin-left 4.6vw
	@media lg
		margin-left 4vw
	@media sm
		display none

.nav-item
	margin-right 3.6vw

.nav-item, .nav-item a
	display: inline;
	font-family: "SegoeUIRegular";
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 0.85vw;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	cursor: pointer
	text-decoration: none;

.nav-item span:hover
	color #0D2241
	opacity .3

.soc-lang
	display flex
	align-items center
	font-family: Colus;
	
	ul 
		display: flex;
		flex-direction: column;
		align-items: center;
		
		@media xl
			width 26px
		@media lg
			width 21px
		@media md
			width 21px
		@media sm
			width 15px
			
	.language,.social
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;

		@media xl
			width 53px
			height 53px
		@media lg
			width 3.5vw
			height 3.5vw
		@media md
			width 5vw
			height 5vw
		@media sm
			width 7.2vw
			height 7.2vw
			
	.language
		font-family: "SegoeUISemiBold";
		line-height: normal;
		font-size: 14px;
		text-transform: uppercase;
		color: #FFFFFF;
			// width: 40%
			// height: 40%
			// fill: #fff
			// border: 0.2px solid #FFFFFF;
			// border-radius: 50%
		// @media xl
		// 	margin-right 43px
		// @media lg
		// 	margin-right 36px
		// @media md
		// 	margin-right 29px
		// @media sm
		// 	margin-right: 0px;
			
	.social
		svg
			width: 100%
			height: 100%
			fill: #183762
		@media sm
			display none

.lang-list
	color #fff
	position absolute
	li
		padding-top 10px
		
	@media xl
		font-size 18px
		top 35px
	@media lg
		font-size 16px
		top 35px
	@media md
		font-size 14px
		top 25px
	@media sm
		font-size 10px
		top 15px
		
.social-list
	position absolute
	li
		padding-top 11px
		
	@media xl
		top 35px
	@media lg
		top 35px
	@media md
		top 25px
	@media sm
		top 15px
	li
		img
			max-width 100%
			max-height auto
		@media xl
			width 18px
			height 18px
		@media lg
			width 16px
			height 16px
		@media md
			width 14px
			height 14px
		@media sm
			width 10px
			height 10px

/*HEADER DOWN*/
.header-down
	display flex
	justify-content space-between
	position fixed
	bottom 0
	z-index 9998
	@media sm
		display: none;

.scroll-arrow
	display flex
	flex-direction: column

.scroll-arrow_text
	width 38px
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;

	font-family: "SegoeUIBold";
	line-height: normal;
	font-size: 16px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	writing-mode: vertical-lr
	text-align: center;


.scroll-arrow_img
	width 38px
	height 38px
	display: flex;
	justify-content: center;
	align-items: center;
	svg
		fill: #fff

.scroll_text
	color: #183762;

.close_text
	color: #fff;

.header-up_tm
	font-family: "SegoeUIRegular";
	line-height: normal;
	font-size: 1.9vw;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #BEBEBE;
	@media sm
		display block !important

.tm
	align-self: flex-end
	font-family: "SegoeUISemiBold";
	line-height: normal;
	font-size: 16px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #0D2241;
