.header
	z-index: 9999;
	width: 100%;
	position: fixed;
	box-sizing: border-box;
	display flex
	justify-content space-between
	align-items center
	
	xl
		padding: 6.5vh 7.7vw 0;
		height: 11vh;
	lg
		padding: 6vh 7vw 0;
		height: 11vh;
	md
		padding: 9.7vh 6.7vw 0;
		height: 8vh;
	sm
		padding 3vh 13vw 0
		height: 7vh;		
.logo
	background: url(../img/logo.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	
	xl
		width 10.6vw
		height 3.5vh
	lg
		width 12.6vw
		height 4.1vh	
	md
		width 15.6vw
		height 5.1vh
	sm
		width 30.6vw
		height 5.1vh	
.soc-lang
	display flex
	align-items center
	font-family: Colus;
	
	ul 
		display: flex;
		flex-direction: column;
		align-items: center;
		
		xl
			width 26px
		lg
			width 21px
		md
			width 21px
		sm
			width 15px
			
	.language,.social
		cursor: pointer;
		xl
			width 26px
			height 26px
		lg
			width 21px
			height 21px
		md
			width 21px
			height 21px
		sm
			width 15px
			height 15px
			
	.language
		//background: url(../img/lang.svg);
		background-size: contain;
		background-repeat: no-repeat;
		display: inline-block;
		position relative
		img
			fill: #8080ff
		xl
			margin-right 43px
		lg
			margin-right 36px
		md
			margin-right 29px
		sm
			margin-right 22px
			
	.social
		background: url(../img/social.svg);
		background-size: contain;
		background-repeat: no-repeat;
		display: inline-block;
		position relative
		
.lang-list
	color #fff
	position absolute
	li
		padding-top 10px
		
	xl
		font-size 18px
		top 35px
	lg
		font-size 16px
		top 35px
	md
		font-size 14px
		top 25px
	sm
		font-size 10px
		top 15px
		
.social-list
	position absolute
	li
		padding-top 11px
		
	xl
		top 35px
	lg
		top 35px
	md
		top 25px
	sm
		top 15px
	li
		img
			max-width 100%
			max-height auto
		xl
			width 18px
			height 18px
		lg
			width 16px
			height 16px
		md
			width 14px
			height 14px
		sm
			width 10px
			height 10px




