.media-blog
	position: absolute;
	width 100vw
	height 100vh
	display: flex
	align-items: center
	top: 0;
	left: 0;
	background-color #183762
	a
		text-decoration: none;
		color #183762

.media_swiper-container
	width: 1305px;
	height: 600px;
	margin-left: 14.7vw
	
	.swiper-wrapper
		width: 1305px;
		height: 600px;
		.swiper-slide
			overflow hidden
			width: 395px;
			height: 600px;
			background: #F4f4f4;
			border-radius: 5px;
			display: flex
			justify-content: space-between
			flex-direction: column


	.swiper-scrollbar
		position: absolute;
		left: 14.7vw;
		bottom: 69px;
		z-index: 50;
		height: 5px;
		overflow: hidden;
		width: 68%;
		.swiper-scrollbar-drag
			background-color  #f4f4f4;
			opacity: 0.2

.media-swiper_img
	height: 257px;
	width 100%
	background-color #000
	img
		max-width 100%
		max-height: 100%

.media-swiper_title, .media-swiper_date, .media-swiper_description, .media-swiper_readmore
	margin-left: 27px

.media-swiper_title
	width: 329px;
	font-family: "SegoeUISemiBold";
	line-height: 38px;
	font-size: 26px;
	letter-spacing: 0.05em;

	color: #0D0D0D;

.media-swiper_date
	width: 152px;
	font-family: "SegoeUISemiBold";
	line-height: 35px;
	font-size: 18px;
	letter-spacing: 0.03em;

	color: rgba(13, 13, 13, 0.3);

.media-swiper_description
	width: 329px;
	font-family: "SegoeUIRegular";
	line-height: 26px;
	font-size: 18px;
	letter-spacing: 0.03em;

	color: #0D0D0D;

.media-swiper_readmore
	width: 127px;
	font-family: "SegoeUIRegular";
	line-height: 35px;
	font-size: 18px;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: #183762;
	padding-bottom: 30px

.media-version
	padding-top: 186px
	padding-left: 14.7vw
	z-index: 1 !important