.menu
	width 100vw
	height 100vh
	background-color #183762;
	position: absolute
	top: 0
	left: 0
	z-index: 9998;

.menu-article
	height 61vh
	margin-top: 232px
	margin-left 7.7vw
	margin-right: 7.7vw
	float: right;


.menu-article_hidden
	position absolute
	display none
	margin-top: 130px
	z-index: 9999;

.menu-article_item
	padding-bottom: 51px
	position relative

.menu-article_item p
	font-family: "SegoeUISemiBold";
	line-height: normal;
	font-size: 18px;
	color: #fff;
	letter-spacing: 0.1em;
	cursor pointer
	z-index: 9998

.menu-article_item p:hover 
	font-family: "SegoeUISemiBold";
	line-height: normal;
	font-size: 25px
	color: #fff
	letter-spacing: 0.1em;
	position relative

.active
	color: #0D2241 !important;

.close_svg
	display: none;
.blue_text
	color: #183762 !important
.white_text
	color: #ffffff
.darkblue_text
	color: #0D2241 !important
.black_text
	color: #0D0D0D !important

.contact-info
	width: 13.5vw
	font-family: "SegoeUISemiBold";
	line-height: 32px;
	font-size: 18px;
	text-align: right;
	letter-spacing: 0.1em;

	color: #0D2241;
	a
		text-decoration: none;
		color: #0D2241;
	a:hover
			color: #ffffff

.address-title
	margin-bottom: 152px

.address, .phone, .info-mail
	margin-bottom: 51px

.activated-menu
	font-family: Colus;
	line-height: .5;
	font-weight: 500
	position: absolute
	font-size: 130px;
	letter-spacing: 0.1em;
	z-index: -1;
	top: -15px;
	left: -15px;
	color: rgba(13, 34, 65, 0.3);