small = 'screen and (min-width: 320px) and (max-width: 425px)'
medium = 'screen and (min-width: 426px) and (max-width: 993px)'
large = 'screen and (min-width: 994px) and (max-width: 1300px)'
xlarge = 'screen and (min-width: 1301px)'