.title_text
	width: 23vw
	font-family: Colus;
	line-height: 47px;
	font-size: 36px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #183762;
	margin-bottom: 69px;

.description_text
	width: 29vw
	font-family: "SegoeUISemiBold";
	line-height: 39px;
	font-size: 20px;
	letter-spacing: 0.03em;
	color: #0D0D0D;
	margin-bottom: 69px;

.products_main
	position absolute
	top 0
	left 0

.products
	width 100vw
	height 100vh
	display: flex
	flex-direction: row
	box-sizing: border-box
	padding 250px 7.9vw 0 7.7vw
	position relative


.products_text
	width: 31vw
	height: 60vh
	box-sizing border-box
	padding-left 7vw

.products_img
	width: 32.5vw
	height: 60vh

.request_price
	width: 200px;
	height: 50px;
	cursor pointer
	background: #183762;
	border-radius: 5px;
	font-family: "SegoeUISemiBold";
	line-height: 31px;
	font-size: 16px;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #FFFFFF;

.video_section
	width: 100%;
	height: 440px;
	background: #183762;
	padding 99px 7.7vw 0 14.7vw
	box-sizing: border-box
	display flex
	justify-content: space-between

.video_section-text_title
	font-family: Colus;
	line-height: 47px;
	font-size: 36px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
	width: 24vw
	padding-bottom: 25px

.video_section-text_description
	font-family: "SegoeUISemiBold";
	line-height: 39px;
	font-size: 20px;
	letter-spacing: 0.03em;

	color: #FFFFFF;

.video_section-youtube
	background: #C4C4C4;
	width: 935px;
	height: 535px;

.characteristic
	margin-top: 369px
	margin-left 14.7vw
	display: flex

.ch-text p
	font-family: "SegoeUISemiBold";
	line-height: 48px;
	font-size: 20px;
	letter-spacing: 0.03em;
	color: #000000;

.ch-description_first,.ch-value_first
	margin-bottom: 66px

.ch-description
	margin-right: 111px

.about-section
	padding-top: 185px
	margin-left 14.7vw
	width: 870px;

.about-section_text
	margin-left: 30px
	font-family: "SegoeUISemiBold";
	line-height: 37px;
	font-size: 20px;
	letter-spacing: 0.03em;
	color: #000000;
	margin-bottom: 39px

.about-section_text span
	position: absolute
	margin-left: -30px
	margin-top: -7px
	font-family: "SegoeUIBold";
	line-height: 45px;
	font-size: 24px;
	letter-spacing: 0.03em;
	color: #183762;

.products-gallery
	padding-top: 108px
	margin-bottom 133px
	width: 100vw
	height 460px
	overflow hidden
	.swiper-container2
		width: 100vw;
		height: 450px;

	.swiper-slide
		width: 700px;
		background: #C4C4C4;

.products-tablelink
	width 100vw
	height 715px
	background: #183762;

.products-table
	padding:85px 7.7vw 0;

	table, th, td {
  border: none;
  border-collapse: collapse;
}

table {
	width 85vw;
  table-layout: fixed;
  box-sizing: border-box;
  height: 370px;
  background-color: #183762;
}
th {
  font-family: "SegoeUISemiBold";
	line-height: normal;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0.1em;

	color:#3465AB;
}

tr {
  text-align: center;
  font-family: "SegoeUISemiBold";
	line-height: normal;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0.1em;

	color: #FFFFFF;
}

.pr-link {
	display: flex;

}

.pr-link_left-text
	color: #fff;

tr:first-child {
  height: 25px;
}

.text-align_left {
  text-align: left;
}

.text-align_right {
  text-align: right;
}

.td-decor
	width 97.5%
	height 2px
	background:#3465AB;
	margin-right: 20px;

