.pr-link
	font-family: "SegoeUISemiBold";
	line-height: normal;
	font-size: 36px;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	display: flex
	width 100%
	justify-content: space-between

//need for scroll y
.pr-link_left
	padding-left: 7.7vw;

.pr-link_right
	padding-right: 167px;

.pr-link_left, .pr-link_right
	display: flex

.pr-link_arrow
	margin-bottom -3px
	

.pr-arrow_svg
	fill: #FFFFFF;
	width: 23.3px;
	height: 13px;

.pr-link_left-arrow
	transform: rotate(90deg);

.pr-link_right-arrow
	transform: rotate(-90deg);


//more wideo styles
	.video_section-youtube
		overflow: hidden
		position relative
		.swiper-container1
			width: 100%;
			height: 100%;
			.swiper-slide
				text-align: center;
				font-size: 18px;
				background: #fff;
				/* Center slide text vertically */
				display: -webkit-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				-webkit-justify-content: center;
				justify-content: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
				-webkit-align-items: center;
				align-items: center;

.products-main_arrow
	position absolute
	top 50%
	svg
		fill: #183762;

.products-main_arrow-left
	left 7.7vw
	transform: rotate(90deg);

.products-main_arrow-right
	right 7.9vw
	transform: rotate(-90deg);