html 
	background-color: #F4F4F4

body
width 100vw
	// @media xlarge
	// 	padding: 6.5vh 7.7vw 0;
	// 	height: 11vh;
	// @media large
	// 	padding: 6vh 7vw 0;
	// 	height: 11vh;
	// @media medium
	// 	padding: 9.7vh 6.7vw 0;
	// 	height: 8vh;
	// @media small
	// 	padding 3vh 13vw 0
	// 	height: 7vh;