html 
	background-color: #F4F4F4

body
width 100vw
	// xl
	// 	padding: 6.5vh 7.7vw 0;
	// 	height: 11vh;
	// lg
	// 	padding: 6vh 7vw 0;
	// 	height: 11vh;
	// md
	// 	padding: 9.7vh 6.7vw 0;
	// 	height: 8vh;
	// sm
	// 	padding 3vh 13vw 0
	// 	height: 7vh;