<!DOCTYPE html>
<html lang="pl">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Sacform</title>
    <style>
        .nav-item,
        .nav-item a {
            color: #0D0D0D;
        }
        
        .header-up {
            background: none !important;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <link rel="stylesheet" href="css/styles.min.css">
</head>


<body>
    //= include/menu.html
    <!-- need -->
    //= include/header.html
    <!-- need -->
    //= include/footer.html
    <div class="main_site" style="z-index: -1;">
        <div id="fullpage">
            <div class="section">
                <div class="first-section all-section">
                    <div class="section_img bg1 ">
                        <div class="bg1-img allbg-img">
                            <img src="../img/bg1.png" alt="">
                        </div>
                    </div>
                    <div class="section_text section_text-left">
                        <div style="display: none" class="en-text">
                            <h1 class="big_text">Sacform is Manufacturer Company of coil processing line and press feeding lines</h1>
                            <h2 class="mid_text">Manufactures automatic production lines such as coil processing lines, punching and perforating lines, roll forming lines which are controlled with Programmable Controllers, PLC</h2>
                        </div>
                        <div class="pl-text">
                            <h1 class="big_text">Sacform is Manufacturer Company of coil processing line and press feeding lines</h1>
                            <h2 class="mid_text">Manufactures automatic production lines such as coil processing lines, punching and perforating lines, roll forming lines which are controlled with Programmable Controllers, PLC</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="second-section all-section">
                    <div class="section_img bg2">
                        <div class="bg2-img allbg-img">
                            <img src="../img/bg2.png" alt="">
                        </div>
                    </div>
                    <div class="section_text section_text-right">
                        <div style="display: none" class="en-text">
                            <h1 class="big_text">Sacform designs and applies unique technologies in the coil processing market</h1>
                            <h2 class="mid_text">Company target is to be market leader with our technological innovations, high quality flexible fast and handy machines and most importantly our experience to give complete service for customer’s operations under our brand
                                AGMLine
                            </h2>
                        </div>
                        <div class="pl-text">
                            <h1 class="big_text">Sacform designs and applies unique technologies in the coil processing market</h1>
                            <h2 class="mid_text">Company target is to be market leader with our technological innovations, high quality flexible fast and handy machines and most importantly our experience to give complete service for customer’s operations under our brand
                                AGMLine
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="third-section all-section">
                    <div class="section_img bg3">
                        <div class="bg3-img allbg-img">
                            <div class="bg3_left">
                                <img src="../img/bg3.png" alt="">
                            </div>
                            <div class="bg3_right">
                                <img src="../img/bg3.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="section_text section_text-center">
                        <div style="display: none" class="en-text">
                            <h1 class="big_text">SACFORM serves you to manufacture products faster and more precise
                            </h1>
                            <h2 class="mid_text">In addition to the significant increase in your production capacity, advanced technology automatized line enables you to employ less operation personnel with safer work and low waste
                            </h2>
                        </div>
                        <div class="pl-text">
                            <h1 class="big_text">SACFORM serves you to manufacture products faster and more precise
                            </h1>
                            <h2 class="mid_text">In addition to the significant increase in your production capacity, advanced technology automatized line enables you to employ less operation personnel with safer work and low waste
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous">
    </script> -->
    <script src="../js/main.min.js"></script>
    <script src="../js/fullpage.min.js"></script>
    <script src="../js/fullpage.extensions.min.js"></script>
    <script src="../js/fading.js"></script>
    <script>
        var myFullpage = new fullpage('#fullpage', {
            lazyLoad: true,
            fadingEffect: true,
            fadingEffectKey: 'YWx2YXJvdHJpZ28uY29tXzAzN1ptRmthVzVuUldabVpXTjBiNXo='
        });
    </script>
</body>

</html>