<!DOCTYPE html>
<html lang="pl">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Sacform</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <link rel="stylesheet" href="css/styles.min.css">
</head>

<body>
    //= include/menu.html
    <div class="main">
        //= include/header.html
        <!-- need -->
        //= include/footer.html
    </div>
    <script src="../js/main.min.js"></script>
</body>

</html>