<!DOCTYPE html>
<html lang="pl">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Sacform</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.5/css/swiper.min.css">
    <link rel="stylesheet" href="css/styles.min.css">
</head>

<body style="overflow-x: hidden">
    //= include/menu.html
    <div class="main">
        //= include/header.html
        <!-- need -->
        //= include/footer.html
    </div>
    <div class="products_main">
        <div class="products">
            <div class="products_text">
                <h1 class="title_text">Hydraulic Decoiler 6 Tons</h1>
                <p class="description_text">RM6000HM Model numbered Decoiler has loading capacity up to 6000 kg. Depending on customer’s request, RM6000HM models are produced according to 600 – 800 – 1000 mm coil widths <br/><br/>RM6000HM Model Decoiler has hydraulic powered automatic
                    tightening system
                </p>
                <button class="request_price">request price</button>
            </div>
            <div class="products_img"></div>
        </div>
        <div class="video_section">
            <div class="video_section-text">
                <div class="video_section-text_title">wATCH HOW rM2500M IS WORKING</div>
                <div class="video_section-text_description">In colaboration with Mini Cut to Length Line</div>
            </div>
            <div class="video_section-youtube">
            </div>
        </div>
        <!-- ch= characteristic -->
        <div class="characteristic">
            <div class="ch-description ch-text">
                <div class="ch-description_first">
                    <p class="ch-description_text">Coil Loading Capacity</p>
                    <p class="ch-description_text">Coil Loading Capacity</p>
                    <p class="ch-description_text">Coil Loading Capacity</p>
                    <p class="ch-description_text">Coil Loading Capacity</p>
                    <p class="ch-description_text">Coil Loading Capacity</p>
                </div>
                <div class="ch-description_second">
                    <p class="ch-description_text">Coil Loading Capacity</p>
                    <p class="ch-description_text">Coil Loading Capacity</p>
                </div>
            </div>
            <div class="ch-value ch-text">
                <div class="ch-value_first">
                    <p class="ch-value_text">2500 kg</p>
                    <p class="ch-value_text">2500 kg</p>
                    <p class="ch-value_text">2500 kg</p>
                    <p class="ch-value_text">2500 kg</p>
                    <p class="ch-value_text">2500 kg</p>
                </div>
                <div class="ch-value_second">
                    <p class="ch-value_text">2500 kg</p>
                    <p class="ch-value_text">2500 kg</p>
                </div>
            </div>
        </div>
        <div class="about-section">
            <p class="about-section_text"><span>1</span>Mandrel Opening System works manually by operator control during inner tightening and loosing </p>
            <p class="about-section_text"><span>2</span>Mandrel Opening System works manually by operator control during inner tightening and loosing </p>
            <p class="about-section_text"><span>3</span>Mandrel Opening System works manually by operator control during inner tightening and loosing </p>
            <p class="about-section_text"><span>4</span>Mandrel Opening System works manually by operator control during inner tightening and loosing </p>
            <p class="about-section_text"><span>5</span>Mandrel Opening System works manually by operator control during inner tightening and loosing </p>
            <p class="about-section_text"><span>6</span>Mandrel Opening System works manually by operator control during inner tightening and loosing </p>
        </div>
        <div class="products-gallery">
            <!-- Slider main container -->
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">Slide 1</div>
                    <div class="swiper-slide">Slide 2</div>
                    <div class="swiper-slide">Slide 3</div>
                </div>
            </div>
        </div>
        <div class="products-tablelink">
            <div class="products-table">
                <table>
                    <tr>
                        <th class="text-align_left">Model</th>
                        <th>Material Width</th>
                        <th colspan="2">Coil inside Diameter</th>
                        <th>Coil Outside</th>
                        <th>Coil Weight</th>
                        <th>Motor</th>
                        <th>Brake</th>
                        <th>Snubber</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>mm</th>
                        <th>max</th>
                        <th>min</th>
                        <th>Diameter</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Arm</th>
                    </tr>
                    <tr>
                        <td class="text-align_left">RM2500F</td>
                        <td>30 - 500</td>
                        <td>400</td>
                        <td>550</td>
                        <td>1400</td>
                        <td>2500</td>
                        <td>-</td>
                        <td>+</td>
                        <td>Optional</td>
                    </tr>
                    <tr>
                        <td class="text-align_left">RM2500F</td>
                        <td>30 - 500</td>
                        <td>400</td>
                        <td>550</td>
                        <td>1400</td>
                        <td>2500</td>
                        <td>-</td>
                        <td>+</td>
                        <td>Optional</td>
                    </tr>
                    <tr>
                        <td colspan="9">
                            <div class="td-decor"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="pr-link">
                <a class="pr-link_left">
                    <div class="pr-link_left-arrow pr-link_arrow">
                        <svg class="pr-arrow_svg" width="20" height="8" viewBox="0 0 14 8" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.683473 0.666645C1.06092 0.298456 1.67288 0.298455 2.05032 0.666645L7.5177 5.99998C7.89515 6.36817 7.89515 6.96512 7.5177 7.33331C7.14026 7.7015 6.5283 7.7015 6.15086 7.33331L0.683474 1.99998C0.30603 1.63179 0.306029 1.03484 0.683473 0.666645Z" />
                                    <path d="M13.3166 0.666645C12.9392 0.298456 12.3272 0.298455 11.9498 0.666645L6.4824 5.99998C6.10495 6.36817 6.10495 6.96512 6.4824 7.33331C6.85984 7.7015 7.4718 7.7015 7.84924 7.33331L13.3166 1.99998C13.6941 1.63179 13.6941 1.03484 13.3166 0.666645Z"/>
                                    </svg>
                    </div>
                    <div class="pr-link_left-text">1500kg Decoiler</div>
                </a>
                <a class="pr-link_right">
                    <div class="pr-link_right-text">2500kg Decoiler</div>
                    <div class="pr-link_right-arrow pr-link_arrow">
                        <svg class="pr-arrow_svg" width="20" height="8" viewBox="0 0 14 8" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.683473 0.666645C1.06092 0.298456 1.67288 0.298455 2.05032 0.666645L7.5177 5.99998C7.89515 6.36817 7.89515 6.96512 7.5177 7.33331C7.14026 7.7015 6.5283 7.7015 6.15086 7.33331L0.683474 1.99998C0.30603 1.63179 0.306029 1.03484 0.683473 0.666645Z" />
                                    <path d="M13.3166 0.666645C12.9392 0.298456 12.3272 0.298455 11.9498 0.666645L6.4824 5.99998C6.10495 6.36817 6.10495 6.96512 6.4824 7.33331C6.85984 7.7015 7.4718 7.7015 7.84924 7.33331L13.3166 1.99998C13.6941 1.63179 13.6941 1.03484 13.3166 0.666645Z"/>
                                    </svg>
                    </div>

                </a>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.5/js/swiper.min.js"></script>
    <script src="../js/main.min.js"></script>
    <script>
        var mySwiper2 = new Swiper('.swiper-container2', {
            // Optional parameters
            loop: true,
            slidesPerView: 3,
            spaceBetween: 50,
            autoplay: {
                delay: 1500,
                disableOnInteraction: false,
            },
        });

        var media_swiper = new Swiper('.media_swiper-container', {
            // Optional parameters
            slidesPerView: 4,
            spaceBetween: 150,
            scrollbar: {
                el: '.swiper-scrollbar',
                hide: true,
            },
        });
    </script>
</body>

</html>