<!DOCTYPE html>
<html lang="pl">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Sacform</title>
    <link rel="stylesheet" href="css/styles.min.css">
</head>

<body>
    //= include/header.html
    <div class="first-screen">
        <div class="first-screen_text">
            <div style="display: none" class="en-text">
                <h1>Sacform is Manufacturer Company of coil processing line and press feeding lines</h1>
                <h2>The site is under construction, for more information please visit our old <a href="http://www.sacform.com/en/">website</a></h2>
            </div>
            <div class="pl-text">
                <h1>Sacform jest Producentem linii do wiercenia cewek i podajników do pras</h1>
                <h2>Strona jest w budowie, aby uzyskać więcej informacji, odwiedź naszą starą <a href="http://www.sacform.com/en/">stronę internetową</a></h2>
            </div>
        </div>
    </div>
    //= include/footer.html
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous">
    </script>
    <script src="../js/main.min.js"></script>
</body>

</html>