<div class="header">
	<div class="logo"></div>
	<div class="nav"></div>
	<div class="soc-lang">
		<div class="language">
			<ul style="display: none" class="lang-list">
				<li class="lang-en">en</li>
				<li class="lang-pl">pl</li>
			</ul>
		</div>
		<div class="social">
			<ul style="display: none" class="social-list">
				<a target="_blank" href="https://www.facebook.com/profile.php?id=100010392945903"><li class="social-item"><img src="../img/fb-white.svg" alt=""></li></a>
				<a target="_blank" href="https://plus.google.com/u/0/115670934407741022550"><li class="social-item"><img src="../img/google-plus-white.svg" alt=""></li></a>
				<a target="_blank" href="https://www.linkedin.com/pulse/activities/agmline-press-feeding-systems+0_1ZmGTY45vzSOsnbS-gWTvH?trk=nav_responsive_sub_nav_yourupdates"><li class="social-item"><img src="../img/linkedin-white.svg" alt=""></li></a>
				<a target="_blank" href="https://www.instagram.com/agmlinetr/"><li class="social-item"><img src="../img/instagram-white.svg" alt=""></li></a>
				<!--<a target="_blank" href=""><li class="social-item"><img src="../img/twitter-white.svg" alt=""></li></a>-->
				<a target="_blank" href="https://www.youtube.com/channel/UCJpIFwS7i2ajUD7HjLRYJSQ/videos"><li class="social-item"><img src="../img/youtube-white.svg" alt=""></li></a>
			</ul>
		</div>
	</div>
</div>