@import 'partial/reset.css'
@import 'partial/font.css'
@import 'partial/mixins'
@import 'partial/styles'
@import 'partial/header'
@import 'partial/fullpage.css'
@import 'partial/main_screen'
@import 'partial/products'
@import 'partial/1screen'
@import 'partial/menu'
@import 'partial/products-vol2'
@import 'partial/media'
@import 'partial/contact'
@import 'partial/media-in'



